page-page2 {
  .center {
    text-align: center
  }
  .centertxt {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .bluefont {
    color: #0c60ee;
  }
  .cardhedder {
    font-size: 1.5rem;
  }
  .scroll-content {
    overflow-y: auto !important;
  }


}
