page-page1 {
  .center {
    text-align: center
  }
  .centertxt {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .bluefont {
    color: #0c60ee;
  }
  .cardhedder {
    font-size: 1.5rem;
  }
  .alignleft {
    float: left;
  }
  .alignright {
    float: right;
  }
  .margin10 {
    margin: 10px;
  }

  .flag1 {
    float: left;
    margin: 20px;
    //margin-left: 30px;
    width: 50px;
  }

  .flag2 {
    float: right;
    margin: 20px;
    //margin-right: 30px;
    width: 50px;
  }

  .teamtitle1 {
    margin-top: -20px;
    text-align: center;
  }

  .teamtitle2 {
    margin-top: -20px;
    text-align: center;
  }

  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }
  .scroll-bar-indicator
  {
    display: none;
  }
  .cardcenter {
    margin-top: 40px;
  }

  .container-side-menu {
    width: 10%;
    top: 15%;
    right: 15px;
    position: absolute;
    margin: auto;
  }
  .container-side-menu .button {
    font-size: 10px;
    line-height: 10px; // Add
  }
  .container-side-menu .button-icon .icon {
    display: block;
    font-size: 30px;
    margin-bottom: 3px !important;
  }
  .mt-20 {
    margin-top: -20px;
  }

}
