<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="center" style="margin-left: -28px"><span style="color: red">cric</span><span style="color: blue">Score</span> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-item-group>
    <ion-item-divider color="light">
      <div class="bluefont">
        Live
      </div>
    </ion-item-divider>
    <!--<li *ngFor='let key of livematchtiles | ObjNgFor'>-->
      <!--value: {{key.obj.series.series_name}}-->
      <!--&lt;!&ndash;{{key['']}}&ndash;&gt;-->
    <!--</li>-->
    <ion-item *ngFor="let key of livematchtiles ">

      <ion-card (click)="matchDetails(key.mid)">
        <ion-card-content>

          {{key.series.series_name}}

          <ion-grid>
            <ion-row>
              <ion-col>
                <div style="">
                  <img src="assets/icon/icon/flags/32/{{key.teams[0].fn}}.png" onerror="this.onerror=null;this.src='assets/icon/icon/flags/32/default.png';" />
                  <ion-item text-wrap >{{key.teams[0].fn}}</ion-item>
                </div>
              </ion-col>
              <ion-col>
                <div class="cardcenter" >
                  <h3> V/S </h3>
                </div>
              </ion-col>
              <ion-col>
                <div style="">
                  <img src="assets/icon/icon/flags/32/{{key.teams[1].fn}}.png" onerror="this.onerror=null;this.src='assets/icon/icon/flags/32/default.png';"/>
                  <ion-item text-wrap>{{key.teams[1].fn}}</ion-item>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div style="">
                  <!--<ion-item text-wrap style="text-align: center;">{{item['team-1']}}</ion-item>-->
                </div>
              </ion-col>
              <ion-col>
              </ion-col>
              <ion-col>
                <div style="">
                  <!--<ion-item text-wrap style="text-align: center; padding-left: 16px;">{{item['team-2']}}</ion-item>-->
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item-divider color="light">
      <div class="bluefont">
        Highlights
      </div>

    </ion-item-divider>
    <!--<ion-item *ngFor="let item of pastmatchtiles">-->
      <!--<ion-card (click)="matchDetails(item['matchid'])">-->
        <!--<ion-card-content>-->

          <!--{{item['MatchNo']}}-{{item['series_name']}}-->
          <!--<ion-grid>-->
            <!--<ion-row>-->
              <!--<ion-col>-->
                <!--<div style="">-->
                  <!--<img src="assets/icon/icon/flags/48/{{item['Team'][0]['Team']}}.png" onerror="this.onerror=null;this.src='assets/icon/icon/flags/48/default.png';" />-->
                  <!--&lt;!&ndash;<ion-item text-wrap >{{item['team-1']}}</ion-item>&ndash;&gt;-->
                <!--</div>-->
              <!--</ion-col>-->
              <!--<ion-col>-->
                <!--<div class="cardcenter" >-->
                  <!--<h3> V/S </h3>-->
                <!--</div>-->
              <!--</ion-col>-->
              <!--<ion-col>-->
                <!--<div style="">-->
                  <!--<img src="assets/icon/icon/flags/48/{{item['Team'][1]['Team']}}.png" onerror="this.onerror=null;this.src='assets/icon/icon/flags/48/default.png';"/>-->
                  <!--&lt;!&ndash;<ion-item text-wrap>{{item['team-2']}}</ion-item>&ndash;&gt;-->
                <!--</div>-->
              <!--</ion-col>-->
            <!--</ion-row>-->
            <!--<ion-row>-->
              <!--<ion-col>-->
                <!--<div style="">-->
                  <!--&lt;!&ndash;<ion-item text-wrap style="text-align: center;">{{item['team-1']}}</ion-item>&ndash;&gt;-->
                <!--</div>-->
              <!--</ion-col>-->
              <!--<ion-col>-->
              <!--</ion-col>-->
              <!--<ion-col>-->
                <!--<div style="">-->
                  <!--&lt;!&ndash;<ion-item text-wrap style="text-align: center; padding-left: 16px;">{{item['team-2']}}</ion-item>&ndash;&gt;-->
                <!--</div>-->
              <!--</ion-col>-->
            <!--</ion-row>-->
          <!--</ion-grid>-->
        <!--</ion-card-content>-->
      <!--</ion-card>-->
    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-card>-->
        <!--<ion-card-header>-->
          <!--<div class="cardhedder">-->
            <!--ODI-->
          <!--</div>-->
        <!--</ion-card-header>-->
        <!--<ion-card-content>-->
          <!--<ion-row>-->
            <!--<ion-col>-->
              <!--<div class="flag1">-->
                <!--<img src="../../assets/icon/icon/flags/32/Australia.png"/>-->
              <!--</div>-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--<div class="center">-->
                <!--<div class="score">-->
                  <!--SI: 100/2-->
                <!--</div>-->

                <!--<div class="over ">-->
                  <!--(21.5)-->
                <!--</div>-->
                <!--<div class="matchstat">-->
                  <!--SI need 120 in 38.1 over.-->
                <!--</div>-->
              <!--</div>-->
            <!--</ion-col>-->
            <!--<ion-col>-->
              <!--<div class="flag2">-->
                <!--<img src="../../assets/icon/icon/flags/32/South%20Africa.png"/>-->
              <!--</div>-->
            <!--</ion-col>-->
          <!--</ion-row>-->
        <!--</ion-card-content>-->
      <!--</ion-card>-->
    <!--</ion-item>-->

    <ion-item-divider color="light">
      <div class="bluefont">
        News
      </div>
    </ion-item-divider>

    <ion-card>
      <img src="../../assets/images/news1.jpg"/>
      <div class="card-title">Amsterdam</div>
      <div class="card-subtitle">64 Listings</div>
    </ion-card>

  </ion-item-group>
</ion-content>

